.form-title {
    text-align: center;
    font-size: x-large;
    background: #5f9ea0;
}


.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    border: 1px solid #0cbae6;
    border-radius: 0;
@include box-sizing(border-box);
}

form[role=login] {
    color: #5d5d5d;
    background: #71a2d6;
    padding: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

form[role=login] .logo_img_div{
    margin: 0 auto;
    margin-bottom: 35px;
    text-align: -webkit-center;
}

form[role=login] .logo_img_div .logo_img {
    background: url(/image/mach_logo.png) no-repeat;
    background-size: 300px 100px;
    width: 100px;
    height: 100px;
}

form[role=login] input,
form[role=login] button {
    font-size: 18px;
    margin: 16px 0;
    background: #346A96;
    border: 1px solid #0cbae6;
    border-radius: 0;
}

form[role=login] .forgot-login {
    display: inline-block;
}

form[role=login] .sign-up {
    float: right;
    display: inline-block;
}

.form-links {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 50px;
}

.form-links a {
    color: #fff;
}

.form-control::-webkit-input-placeholder,
.form-control:-ms-input-placeholder {
    color: #f4f4f4;
}
.form-control::placeholder {
    color: #f4f4f4;
    opacity: 1;
}