@CHARSET "UTF-8";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  color: #ffffff;
  overflow-x: hidden;
}

html, body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(to left, #336a96 0%, #1B334D 100%);
  height: 100%;
}

input,select {
  color: #444444 !important;
}

@media (max-width: 568px) {
  #content {
    margin-top:120px;
    margin-bottom:120px;
  }
}

@media (min-width: 569px) {
  #content {
    margin-top:120px;
    margin-bottom:180px;
  }
}

.cont {
  text-align: center;
}

main[role=main] div {
  margin-top: 5px;
  margin-bottom:5px;
}

.main-img {
  width: 100%;
}

