<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" sizes="128x128" href="http://i.addblock.net/default-favicon.ico?">

    <title>Mach Exchange</title>

    <!-- 부트스트랩 -->
    <link href="/bootstrap_css/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/myTransaction.css" rel="stylesheet">


    <script src="/jquery/jquery.js"></script>
    <script src="/bootstrap/bootstrap.min.js"></script>
    <script src="/chart/Chart.js"></script>
    <script src="/blockchain/web3.min.js"></script>
    <script src="/blockchain/truffle-contract.js"></script>

    <script>
        var data = [{
            "date":"24-Apr-07",
            "close":"77.24"
        },{
            "date":"25-Apr-07",
            "close":"69.24"
        },{
            "date":"26-Apr-07",
            "close":"90.24"
        },{
            "date":"27-Apr-07",
            "close":"63.24"
        },{
            "date":"28-Apr-07",
            "close":"99.24"
        }
        ];
        var tradeValue = 0;
        var machValue = 1000;
        var TokenCrowdsaleArtifact = null;
        var contracts = {};
        var userinfo = JSON.parse('<%- JSON.stringify(data) %>');
        var tradeValue = 0;
        var daiosValue = 10;
        var machRate = 0;
        var tmpday = new Date();
        var today = tmpday.getFullYear() + '-' + (tmpday.getMonth() + 1 < 10 ? '0'+ (tmpday.getMonth() + 1) : tmpday.getMonth() + 1) + '-' + tmpday.getDate() + '%2000:00:00';
        var tokenAddress = '0x73bce4989c5476243941c6f999566d455a79bb30';
        //상용의 경우 최세준 대표님의 주소로 변경
        //var tokenAddress = '0xF9C1301c9C230c2370dF8d99c76411f8aD963909';

        // 250x250 의 <svg id="graphWrap"></svg> 를 div.graph 에 추가
        $(document).ready(function() {
            console.log(userinfo);
            $('#header').load('/header');
            $('#menu').load('/menu');
            $('#footer').load('/footer');
            //renderChartJs();
            $('#ourAddress').val(tokenAddress);

            if(userinfo.ethers != undefined) {
                $('#walletAddress').val(userinfo.ethers.address);
                $('#sentEth').html(userinfo.ethers.total_coin);
                $('#boughtMach').html(userinfo.ethers.total_mach);
                // $('#ethAmount').html(userinfo.ethers.coin);
            }

            // if(!checkUseableOS()) {
                // $('#transaction-container-mobile').css('display','block');
                // $('#transaction-container-pc').css('display','none');
            // }

            $('#amount').keyup(function() {
                var machAmount = parseInt($('#amount').val());
                var total = machAmount + (machAmount * 0.08);
                var eth = parseFloat(machAmount / $('.exchangeMach').text()).toFixed(6);
                $('.amountEth').html(eth);
                $('.amountMach').html(total);
            });

            if (typeof web3 !== 'undefined') {
                web3 = new Web3(web3.currentProvider);
            } else {
                const provider = new Web3(new Web3.providers.HttpProvider("https://rinkeby.infura.io/0c938ce8db2547fdbb12f73b5d500aca0c938ce8db2547fdbb12f73b5d500aca"));
                web3= new Web3( provider );
            }
            $.getJSON('/blockchain/TokenCrowdsale.json', function(data) {
                TokenCrowdsaleArtifact = data;
                contracts.TokenCrowdsale = TruffleContract(TokenCrowdsaleArtifact);
                contracts.TokenCrowdsale.setProvider(web3.currentProvider);
                contracts.TokenCrowdsale.deployed().then(function (instance) {
                    crowdsale = instance;
                    crowdsale.rate().then(function (rate) {
                        machRate = rate.c[0];
                        $('.exchangeMach').html(machRate);
                    });
                });
            });

            // $.getJSON('https://api.upbit.com/v1/candles/days?market=KRW-ETH&to='+today, function(data) {
            //     console.log(data);
            //     tradeValue = data[0].trade_price;
            //     $('.exchangeMach').html(tradeValue / machValue);
            // });
        });

        setTimeout(function(){
            $('.logout-content').css('display','inline-block');
            $('.login-content').css('display','none');
        },100);

        function renderChartJs() {
            var ctx1 = document.getElementById("chart_div1").getContext('2d');
            var ctx2 = document.getElementById("chart_div2").getContext('2d');

            var labels = data.map(function(e){
                return e.date;
            });
            var values = data.map(function(e){
                return e.close;
            });

            var myChart1 = new Chart(ctx1, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: '# of Votes',
                        data: values,
                        fill: false,
                        //backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255,99,132,1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });

            var myChart1 = new Chart(ctx2, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: '# of Votes',
                        data: values,
                        fill: false,
                        //backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255,99,132,1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
        }

        function buyCoin() {

            if(!checkUseableOS()) {
                alert("MACH purchases are only available in the PC version.");
                window.open('/howtouse');
                return;
            }

            if(!checkUseableBroswer()) {
                alert("MACH purchases are only available for chrome and firefox browser.");
                return;
            }

            if($('.amountEth').text() < 0.5) {
                alert("MACH can be purchased at least 0.5ETH.");
                return;
            }

            var buyCoinForm = {
                "address": $("#walletAddress").val(),
                "token_address_contract": tokenAddress,
                "coin": parseFloat($('.amountEth').text()).toFixed(8),
                "bonus": 0.08,
                "mach": parseFloat($('.amountMach').text()).toFixed(2)
            }

            $('[name=go]').attr('disabled', true);
            $('[name=go]').text('Loading...');

            if (web3.eth.defaultAccount === undefined) {
                alert('Metamask needs to login.');
                $('[name=go]').attr('disabled', false);
                $('[name=go]').text('Buy DAIOS');
                return;
            }

            contracts.TokenCrowdsale.deployed().then(function(instance) {
                crowdsale = instance;
                return crowdsale.getTotalSupply();
            }).then(function(result){
                console.log(result);
                var totalMachAmount = parseInt(result.c[0]);
                console.log("total mach amount : ", totalMachAmount);
                if(totalMachAmount >= 30000000) {
                    alert('It can no longer be purchased MACH because of achieved a hard cap.');
                    return;
                }

                contracts.TokenCrowdsale.deployed().then(function (instance) {
                    crowdsale = instance;
                    var crowdsaleContractAddress = crowdsale.address;
                    crowdsale.rate().then(function (rate) {
                        web3.eth.sendTransaction({
                            from: web3.eth.coinbase,
                            to: crowdsaleContractAddress,
                            value: web3.toWei($('#amount').val()/rate, 'ether'),
                            gas: 150000

                        }, function (error, result) {
                            if (!error) {
                                $.ajax({
                                    method: "PUT",
                                    url: "/ethers/" + userinfo.etherId,
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    data: JSON.stringify(buyCoinForm),
                                    beforeSend: function( xhr ) {
                                        console.log("ether put start");
                                        $('[name=go]').attr('disabled', true);
                                        $('[name=go]').text('Loading...');
                                    }
                                })
                                    .done(function( data ) {
                                        alert('You have successed to buy MACH.');
                                        location.href = '/transaction';
                                    })
                                    .fail(function(msg) {
                                        alert( "Data Save failed.");
                                        $('[name=go]').attr('disabled', false);
                                        $('[name=go]').text('Buy MACH');
                                    });
                            } else {
                                console.log(error.message);
                                $('[name=go]').attr('disabled', false);
                                $('[name=go]').text('Buy MACH');
                                return;
                            }
                        });
                    });
                }).catch(function (err) {
                    console.log("not installed");
                    alert('It needs to be installed Metamask. Please refer to the following,');
                    window.open('/howtouse');
                    $('[name=go]').attr('disabled', false);
                    $('[name=go]').text('Buy MACH');
                    return;
                });
            }).catch(function(err) {
                console.log(err.message);
                $('[name=go]').attr('disabled', false);
                $('[name=go]').text('Buy DAIOS');
            });
        }

        function checkUseableBroswer() {
            var agent = navigator.userAgent.toLowerCase();
            var result = false;

            if(agent.indexOf("chrome") != -1 ||
                agent.indexOf("firefox") != -1) {
                result = true;
            }

            return result;
        }

        function checkUseableOS() {
            var agent = navigator.userAgent;
            var result = true;

            if(agent.match(/Android/i) != null ||
                agent.match(/BlackBerry/i) != null ||
                agent.match(/iPhone|iPad|iPod/i) != null ||
                agent.match(/Opera Mini/i) != null ||
                agent.match(/IEMobile/i) != null) {
                result = false;
            }

            return result;
        }

        function copyAddress() {
            var copyText = document.getElementById("ourAddress");
            copyText.select();
            document.execCommand("Copy");
            alert("copied");
        }
    </script>
</head>

<body>

<div id="header"></div>
<div id="menu"></div>
<div id="content">
    <div class="row" id="buy-coin-container">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <main role="transaction">
                <div class="container" id="transaction-container-mobile" style="display: none;">
                    <div class="trans-sell-status">
                        <div class="label-title">
                            Token Address
                        </div>
                        <div class="label-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <input type="text" id="ourAddress" readonly style="width:90%;margin-right:10px;">
                                        <a href="javascript:copyAddress();"><i class="fas fa-copy" style="color: #ffffff;"></i></a>
                                    </div>
                                    <div style="font-size: 11px;margin-top:5px;">
                                        * If you are purchasing by mobile, please send it to the above address.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container" id="transaction-container-pc">
                    <!--<div class="trans-graph">-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-6">-->
                                <!--<div class="card mb-6 shadow-sm">-->
                                    <!--<canvas id="chart_div1"></canvas>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-6">-->
                                <!--<div class="card mb-6 shadow-sm">-->
                                    <!--<canvas id="chart_div2"></canvas>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="trans-sell-status">
                        <div class="label-title">
                            My Tokens
                        </div>
                        <div class="label-content">
                            <div class="row">
                                <div class="col-md-2">
                                    Address
                                </div>
                                <div class="col-md-10">
                                    <input type="text" id="walletAddress" readonly class="form-control input-lg">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    Sent ETH <span style="padding-left:10px;"><span style="padding-left:10px;" id="sentEth"></span> ETH</span>
                                </div>
                                <div class="col-md-5">
                                    Bought MACH <span style="padding-left:10px;"><span style="padding-left:10px;" id="boughtMach"></span> MACH</span>
                                </div>
                            </div>
                            <!--<div class="row">-->
                                <!--<div class="col-md-4">-->
                                    <!--ETH 사용 개수 0ETH-->
                                <!--</div>-->
                                <!--<div class="col-md-4">-->
                                    <!--BTC 사용 개수 0BTC-->
                                <!--</div>-->
                                <!--<div class="col-md-4">-->
                                    <!--MACH 사용 개수 0MACH-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                                <!--<div class="col-md-4">-->
                                    <!--포인트 보유 개수 0ETH-->
                                <!--</div>-->
                                <!--<div class="col-md-4">-->
                                    <!--포인트 사용 개수 0BTC-->
                                <!--</div>-->
                                <!--<div class="col-md-4">-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                                <!--<div class="col-md-12">-->
                                    <!--<div class="btn-align">-->
                                        <!--<button class="btn btn-primary btn-sm btn-width-middle" onclick="javascript:buyGTC();">Buy MACH</button>-->
                                        <!--<button class="btn btn-primary btn-sm btn-width-middle" onclick="javascript:exchangeGTC();">GTC 교환</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                        <div class="trans-sell-status">
                            <div class="label-title">
                                Buy MACH
                            </div>
                            <div class="label-content">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Amount(MACH)</label>
                                    <div class="col-sm-6">
                                        <input type="number" id="amount" placeholder="Amount Of Contribute" class="form-control input-lg" required=""/>
                                    </div>
                                    <div class="col-sm-3">
                                        <!--<select class="custom-select" style="width: 100px;" id="tokenType">-->
                                        <!--<option value="ETH">ETH</option>-->
                                        <!--<option value="BTC">BTC</option>-->
                                        <!--<option value="EOS">EOS</option>-->
                                        <!--</select>-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        Calculator
                                    </div>
                                    <div class="col-md-9">
                                         <span class="amountEth">0</span>ETH x <span class="exchangeMach">0</span>MACH x 8% = <span class="amountMach">0</span>MACH</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                    </div>
                                    <div class="col-md-9" style="font-size:11px;">
                                        <p>* MACH purchases at market average price when purchased.(from Upbit)</p>
                                        <p>* There may be a difference between the MACH amount expected to be purchased and the actual purchase amount.</p>
                                        <p>* The ETH quotes are updated every Tuesday at 10:00 am, and the MACH purchase amount is determined based on the relevant quotes.</p>
                                    </div>
                                </div>
                                <!--<div class="row">-->
                                <!--<div class="col-md-3">보낼 주소</div>-->
                                <!--<div class="col-md-9">-->
                                <!--<input class="form-control form-control-sm" type="text" style="display:inline-block; margin-right: 5px;" placeholder="Your Wallet Address" id="address">-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="btn-align">
                                    <button type="submit" class="btn btn-primary btn-sm btn-width-middle" onclick="javascript:buyCoin()">Buy MACH</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="trans-history">-->
                        <!--<div class="label-title">-->
                            <!--History-->
                        <!--</div>-->
                        <!--<div class="label-content">-->
                            <!--<div class="table-responsive">-->
                                <!--<table class="table table-striped table-blue-black table-sm">-->
                                    <!--<thead>-->
                                    <!--<tr>-->
                                        <!--<th scope="col">구매 날짜</th>-->
                                        <!--<th scope="col">보낸 주소</th>-->
                                        <!--<th scope="col">입금량</th>-->
                                        <!--<th scope="col">입금 타입</th>-->
                                        <!--<th scope="col">구매량</th>-->
                                        <!--<th scope="col">보너스</th>-->
                                        <!--<th scope="col">Total</th>-->
                                    <!--</tr>-->
                                    <!--</thead>-->
                                    <!--<tbody>-->
                                    <!--<tr>-->
                                        <!--<th scope="row">2018-09-30 11:11:11</th>-->
                                        <!--<td>1xjkdljqjd1widjowdi</td>-->
                                        <!--<td>100</td>-->
                                        <!--<td>ETH</td>-->
                                        <!--<td>1000</td>-->
                                        <!--<td>100</td>-->
                                        <!--<td>1100</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<th scope="row">2018-09-30 11:11:11</th>-->
                                        <!--<td>1</td>-->
                                        <!--<td>100</td>-->
                                        <!--<td>ETH</td>-->
                                        <!--<td>1000</td>-->
                                        <!--<td>100</td>-->
                                        <!--<td>1100</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<th scope="row">2018-09-30 11:11:11</th>-->
                                        <!--<td>1</td>-->
                                        <!--<td>100</td>-->
                                        <!--<td>ETH</td>-->
                                        <!--<td>1000</td>-->
                                        <!--<td>100</td>-->
                                        <!--<td>1100</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<th scope="row">2018-09-30 11:11:11</th>-->
                                        <!--<td>1</td>-->
                                        <!--<td>100</td>-->
                                        <!--<td>ETH</td>-->
                                        <!--<td>1000</td>-->
                                        <!--<td>100</td>-->
                                        <!--<td>1100</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<th scope="row">2018-09-30 11:11:11</th>-->
                                        <!--<td>1</td>-->
                                        <!--<td>100</td>-->
                                        <!--<td>ETH</td>-->
                                        <!--<td>1000</td>-->
                                        <!--<td>100</td>-->
                                        <!--<td>1100</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<th scope="row">2018-09-30 11:11:11</th>-->
                                        <!--<td>1xjkdljqjd1widjowdi</td>-->
                                        <!--<td>100</td>-->
                                        <!--<td>ETH</td>-->
                                        <!--<td>1000</td>-->
                                        <!--<td>100</td>-->
                                        <!--<td>1100</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<th scope="row">2018-09-30 11:11:11</th>-->
                                        <!--<td>1</td>-->
                                        <!--<td>100</td>-->
                                        <!--<td>ETH</td>-->
                                        <!--<td>1000</td>-->
                                        <!--<td>100</td>-->
                                        <!--<td>1100</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<th scope="row">2018-09-30 11:11:11</th>-->
                                        <!--<td>1</td>-->
                                        <!--<td>100</td>-->
                                        <!--<td>ETH</td>-->
                                        <!--<td>1000</td>-->
                                        <!--<td>100</td>-->
                                        <!--<td>1100</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<th scope="row">2018-09-30 11:11:11</th>-->
                                        <!--<td>1</td>-->
                                        <!--<td>100</td>-->
                                        <!--<td>ETH</td>-->
                                        <!--<td>1000</td>-->
                                        <!--<td>100</td>-->
                                        <!--<td>1100</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<th scope="row">2018-09-30 11:11:11</th>-->
                                        <!--<td>1</td>-->
                                        <!--<td>100</td>-->
                                        <!--<td>ETH</td>-->
                                        <!--<td>1000</td>-->
                                        <!--<td>100</td>-->
                                        <!--<td>1100</td>-->
                                    <!--</tr>-->
                                    <!--</tbody>-->
                                <!--</table>-->
                                <!--<nav aria-label="Page navigation">-->
                                    <!--<ul class="pagination pagination-sm justify-content-center">-->
                                        <!--<li class="page-item">-->
                                            <!--<a class="page-link" href="#">-->
                                                <!--&laquo;-->
                                            <!--</a>-->
                                        <!--</li>-->
                                        <!--<li class="page-item active"><a class="page-link" href="#">1</a></li>-->
                                        <!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
                                        <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
                                        <!--<li class="page-item">-->
                                            <!--<a class="page-link" href="#">-->
                                                <!--&raquo;-->
                                            <!--</a>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</nav>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </main>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<div id="footer"></div>

</body>
</html>
