<link href="/stylesheets/footer.css" rel="stylesheet">
<footer class="container text-white">
    <div>
        <span>MACH 거래소 사업자 번호 767-86-00387 대표번호 1588-0626 팩스 02-855-0261 이메일 io@onlykcs.com, io@mymach.io</span>
        <br>
        <span>주소 한국인증서비스(주) 서울시 구로구 디지털로 30번길 28, 마리오타워 1213호</span>
        <br>
        한국인증서비스(주) © mach.asia All rights reserved.
        <br>
        한국인증서비스(주)의 모든 콘텐츠는 저작권법의 보호를 받은바, 무단 전재, 복사, 배포 등을 금합니다.
    </div>
</footer>