<link href="/stylesheets/header.css" rel="stylesheet">
<link href="/font-awesome/all.css" rel="stylesheet">
<script>
    $(document).ready(function() {
        renderLanguage();
    });



    function renderLanguage() {
        /* Custom select design */
        $('.drop-down').append('<div class="button"></div>');
        $('.drop-down').append('<ul class="select-list"></ul>');
        $('.drop-down select option').each(function() {
            var bg = $(this).css('background-image');
            $('.select-list').append('<li class="clsAnchor"><span value="' + $(this).val() + '" class="' + $(this).attr('class') + '" style=background-image:' + bg + '>' + $(this).text() + '</span></li>');
        });
        $('.drop-down .button').html('<span style=\'background:' + $('.drop-down select').find(':selected').css('background-image') + ' no-repeat; margin-left: 10px; padding-left:20px;\'></span>' + '<a href="javascript:void(0);" class="select-list-link"><i class="fas fa-angle-down"></i></a>');
        $('.drop-down ul li').each(function() {
            if ($(this).find('span').text() == $('.drop-down select').find(':selected').text()) {
                $(this).addClass('active');
            }
        });
        $('.drop-down .select-list span').on('click', function()
        {
            var dd_text = $(this).text();
            var dd_img = $(this).css('background-image');
            var dd_val = $(this).attr('value');
            $('.drop-down .button').html('<span style=\'background:' + dd_img + ' no-repeat; margin-left: 10px; padding-left:20px;\'></span>' + '<a href="javascript:void(0);" class="select-list-link"><i class="fas fa-angle-down"></i></a>');
            $('.drop-down .select-list span').parent().removeClass('active');
            $(this).parent().addClass('active');
            $('.drop-down select[name=options]').val( dd_val );
            $('.drop-down .select-list li').slideUp();
        });
        $('.drop-down .button').on('click', function()
        {
            $('.drop-down ul li').slideToggle();
        });
        /* End */
    }
</script>
<div class="header">
    <div class="header-logo" onclick="location.href = '/transaction';">
        <!--<a href="/transaction">MACH Exchange</a>-->
    </div>
    <div class="header-menu">
        <a href="/login" class="login-content">
            <i class="fa fa-sign-in-alt"></i><span class="header-title">Sign In</span>
        </a>
        <a href="/signup" class="login-content">
            <i class="fa fa-user-plus"></i><span class="header-title">Sign Up</span>
        </a>
        <a href="/logout" class="logout-content">
            <i class="fa fa-sign-out-alt"></i><span class="header-title">Sign Out</span>
        </a>
        <!--<div class="drop-down">-->
            <!--<select name="options">-->
                <!--<option class="en" value="en"-->
                        <!--style="background-image:url('icon/us-icon.png');">English</option>-->
                <!--<option class="fr" value="fr"-->
                        <!--style="background-image:url('icon/jp-icon.png');">Japan</option>-->
                <!--<option class="nl" value="nl"-->
                        <!--style="background-image:url('icon/kr-icon.png');">Korean</option>-->
                <!--<option class="nl" value="nl"-->
                        <!--style="background-image:url('icon/cn-icon.png');">China</option>-->
            <!--</select>-->
        <!--</div>-->
    </div>
</div>