<link href="/stylesheets/menu.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#machMenu" aria-controls="machMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="machMenu">
        <ul class="navbar-nav mr-auto">
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">Buy</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">Sell</a>-->
            <!--</li>-->
            <li class="nav-item dropdown active">
                <a class="nav-link" href="/transaction">Transaction</a>
                <!--<a class="nav-link dropdown-toggle" href="#" id="transactionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                    <!--Transaction-->
                <!--</a>-->
                <!--<div class="dropdown-menu" aria-labelledby="transactionDropdown">-->
                    <!--<a class="dropdown-item" href="/transaction">Transaction Status</a>-->
                    <!--<div class="dropdown-divider"></div>-->
                    <!--<a class="dropdown-item" href="#">Buy GTC</a>-->
                    <!--<a class="dropdown-item" href="#">Exchange GTC</a>-->
                <!--</div>-->
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/userinfo">User Information</a>
                <!--<a class="nav-link dropdown-toggle" href="#" id="userInfoDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                    <!--User Information-->
                <!--</a>-->
                <!--<div class="dropdown-menu" aria-labelledby="userInfoDropdown">-->
                    <!--<a class="dropdown-item" href="#">My Account</a>-->
                    <!--<div class="dropdown-divider"></div>-->
                    <!--<a class="dropdown-item" href="#">My Buying List</a>-->
                    <!--<a class="dropdown-item" href="#">My Selling List</a>-->
                    <!--<a class="dropdown-item" href="#">My Trade List</a>-->
                <!--</div>-->
            </li>
        </ul>
    </div>
</nav>